<div class="presque-fini-container">
    <h2>Presque Fini</h2>
  
    <div class="projects-carousel">
        <button class="nav-btn prev-btn" (click)="prevProject()">&#8249;</button>
        <div *ngFor="let project of displayedProjects" class="polaroid-card" [routerLink]="['/details' , project.id]">
            <img src="http://localhost:8080/api/files/load/{{project.image}}" alt="Project Image">
            <div class="container">
                <h3>{{ project.title }}</h3>
                <p>{{ project.publisher }}</p>
                <div class="progress-bar">
                    <div class="progress" [style.width]="(project.montantCollecte / project.objectifCollecte) * 100 + '%'">
                        <span>{{ (project.montantCollecte / project.objectifCollecte) * 100 | number:'1.0-0' }}%</span>
                    </div>
                </div>
                <p>Objectif: {{ project.objectifCollecte | currency:'TND':'symbol' }}</p>
                <p>Collecté: {{ project.montantCollecte | currency:'TND':'symbol' }}</p>
            </div>
            <div class="overlay">Voir</div>
        </div>
        <button class="nav-btn next-btn" (click)="nextProject()">&#8250;</button>
    </div>    
</div>
