

.footer {
    width: 100%;
    background-color: #fff;
    color: #000000;
    box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.69);
    padding: 10px 0;  /* Reduced padding for lesser height */
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: space-between; /* Distribute sections evenly */
    align-items: center; /* Center content vertically */
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the start of the cross axis (top) */
    flex-wrap: wrap;
    margin-top: 30px;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 20px;
  }
  
  .social-links-container {
    flex: 1; /* Occupy remaining space */
    display: flex;
    justify-content: flex-end; /* Align items to the end of the main axis (right) */
    align-items: flex-start; /* Align items to the start of the cross axis (top) */
  }
  
  .social-title {
    margin-right: 20px; /* Add margin to separate title and social links */
  }
  
  .social-links {
    margin-top: 20px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row; /* Arrange social links in a row */
  }
  
  .social-links li {
    margin-right: 10px; /* Add margin between social links */
  }
  
  .social-links a {
    color: #000000; /* Set color for social media icons */
    font-size: 20px;
  }
  
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
  }
  
  
  @media screen and (max-width: 768px) {
  .footer {
    padding: 10px;
  }

  .container {
    padding: 0 10px;
    flex-direction: column; /* Stack sections vertically */
    align-items: flex-start; /* Align sections to start of container */
  }

  .left-section,
  .right-section {
    flex: none; /* Reset flex property to avoid stretching */
    width: 100%; /* Full width for smaller screens */
  }

  .social-icons {
    justify-content: flex-start; /* Align icons to start */
  }
}

/* Media query for even smaller screens */
@media screen and (max-width: 480px) {
  .footer {
    padding: 5px;
  }

  .container {
    padding: 0 5px;
  }
}