.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #c11c1a;
    padding: 120px 20px;
  }
  
  .change-password-container {
    width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.69);
    border-radius: 5px;
  }
  
  .change-password-container h2 {
    margin-bottom: 30px;
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  
  hr {
    border: 0;
    width: 100%;
    border-top: 1px solid #000000;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .btn {
    width: 100%;
    height: 45px;
    border: 1px solid #c11c1a;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .7);
    cursor: pointer;
    font-size: 16px;
    background-color: #c11c1a;
    color: #ffffff;
    font-weight: 600;
    transition: transform 0.3s;

  }
  
  .btn:hover {
    color: #c11c1a;
    background-color: transparent;
    transform: scale(1.02);
  }

  .error-message {
    min-height: 20px; /* Adjust this height as needed */
    color: red;
    font-weight: 800;
  }
  
  /* Responsive styles */
  
  @media screen and (max-width: 768px) {
    .container {
      padding: 120px;
    }
  
    .change-password-container {
      padding: 80px;
    }
  
    .form-group {
      margin-bottom: 15px;
    }
  
    input[type="password"] {
      font-size: 14px;
      padding: 8px;
    }
  
    .btn {
      height: 40px;
      font-size: 14px;
    }
  }
  