

<app-navbar></app-navbar>
<div class="bg">
    <div class="container">
        <div class="change-password-container">
            <h2>Changer le mot de passe</h2>
            <form (ngSubmit)="changePassword()">
            <div class="form-group">
                <label for="currentPassword">Mot de passe actuel</label>
                <input type="password" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword" required>
            </div>
            <hr>
            <div class="form-group">
                <label for="newPassword">Nouveau mot de passe</label>
                <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" (input)="checkPasswordStrength()" required>
                <span *ngIf="passwordStrengthMessage !== ''" style="font-size: 13px; font-weight: 800;" [ngStyle]="{'color': passwordStrengthColor}">{{ passwordStrengthMessage }}</span>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirmer le nouveau mot de passe</label>
                <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
                <label class="error-message">{{ errorMessage }}</label>
            </div>
            <button type="submit" class="btn">Confirm</button>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>
  