<app-navbar></app-navbar>
<div class="container">
    <app-adm-graph class="graph-container"></app-adm-graph><!--RETURN EACH "DONNEUR" AND IT'S TOTAL DONATIONS-->

    <h2>Gestion des Donneurs</h2>

    <div class="search-container">
      <input type="text" placeholder="Rechercher par nom ou ID" [(ngModel)]="searchQuery" class="search-input">
    </div>
  
  
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Total des dons</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let donneur of filteredDonneurs">
          <td>{{ donneur.id }}</td>
          <td>{{ donneur.nom }}</td>
          <td>{{ donneur.prenom }}</td>
          <td>{{ donneur.email }}</td>
          <td>{{ donneur.totalDons }}</td>
          <td>
            <span class="status-circle" [class.status-active]="donneur.isActive" [class.status-inactive]="!donneur.isActive"></span>
          </td>
          <td>
            <button *ngIf="donneur.isActive" (click)="confirmSuspend(donneur)">Suspendre</button>
            <button *ngIf="!donneur.isActive" (click)="reactivateDonneur(donneur)">Réactiver</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<app-footer></app-footer>