<app-navbar></app-navbar>
<div class="bg">
    <div class="container">
        <div class="profile-container">
            <div class="profile-photo">
                <img [src]="userData.photoUrl" alt="Profile Photo">
                <input type="file" id="photoInput" style="display: none" (change)="onPhotoSelected($event)">
                <button (click)="editPhoto()" [disabled]="!isEditMode">Changer Photo</button>
            </div>

            <div class="profile-details">
                <!-- Donneur profile -->
                <div *ngIf="userRole === 'donneur'">
                    <div class="info-row">
                        <div class="info">
                            <label for="nom">Nom:</label>
                            <input type="text" id="nom" [(ngModel)]="userData.nom" [disabled]="!isEditMode">
                        </div>
                        <div class="info">
                            <label for="prenom">Prénom:</label>
                            <input type="text" id="prenom" [(ngModel)]="userData.prenom" [disabled]="!isEditMode">
                        </div>
                    </div>

                    <div class="info-row">
                        <div class="info">
                            <label for="clientChezUib">Client chez UIB:</label>
                            <input type="text" id="clientChezUib" [(ngModel)]="userData.clientChezUib" disabled>
                        </div>
                    </div>

                    <div class="info-row">
                        <div class="info">
                            <label for="dateDeNaissance">Date de naissance:</label>
                            <input type="date" id="dateDeNaissance" [(ngModel)]="userData.dateDeNaissance" [disabled]="!isEditMode">
                        </div>
                    </div>

                    <div class="info-row">
                        <div class="info">
                            <label>Pays</label>
                            <select name="country" [(ngModel)]="userData.pays" [disabled]="!isEditMode" class="full-width">
                                <option value="">Sélectionnez un pays</option>
                                <option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</option>
                            </select>
                        </div>
                        <div class="info">
                            <label for="telephone">Téléphone:</label>
                            <input type="text" id="telephone" [(ngModel)]="userData.telephone" [disabled]="!isEditMode">
                        </div>
                    </div>

                    <div class="info-row">
                        <div class="info">
                            <label for="email">Email:</label>
                            <input type="email" id="email" [(ngModel)]="userData.email" [disabled]="!isEditMode">
                        </div>
                    </div>
                </div>

                <!-- Donataire profile -->
                <div *ngIf="userRole === 'donataire'">
                    <div class="info-row">
                        <div class="info">
                            <label for="type">Type:</label>
                            <input type="text" id="type" [(ngModel)]="userData.type" [disabled]="!isEditMode">
                        </div>
                        <div class="info">
                            <label for="nom">Nom:</label>
                            <input type="text" id="nom" [(ngModel)]="userData.nom" [disabled]="!isEditMode">
                        </div>
                    </div>

                    <div class="info-row">
                        <div class="info">
                            <label>Filière d'activité</label>
                            <select name="activityField" [(ngModel)]="userData.filiereActivite" [disabled]="!isEditMode" class="full-width">
                                <option value="Eau">Eau</option>
                                <option value="Santé">Santé</option>
                                <option value="Éducation">Éducation</option>
                                <option value="Énergie">Énergie</option>
                                <option value="Animaux">Animaux</option>
                            </select>
                        </div>
                    </div>

                    <div class="info-row">
                        <div class="info">
                            <label for="description">Description:</label>
                            <input type="text" id="description" [(ngModel)]="userData.description" [disabled]="!isEditMode">
                        </div>
                    </div>

                    <div class="info-row">
                        <div class="info">
                            <label for="telephone">Téléphone:</label>
                            <input type="text" id="telephone" [(ngModel)]="userData.telephone" [disabled]="!isEditMode">
                        </div>
                        <div class="info">
                            <label>Pays</label>
                            <select name="country" [(ngModel)]="userData.pays" [disabled]="!isEditMode" class="full-width">
                                <option value="">Sélectionnez un pays</option>
                                <option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="info-row">
                        <div class="info">
                            <label for="email">Email:</label>
                            <input type="email" id="email" [(ngModel)]="userData.email" [disabled]="!isEditMode">
                        </div>
                    </div>
                </div>

                <div class="profile-actions">
                   <button *ngIf="!isEditMode" (click)="editMode()">Edit Profile</button>
                    <button *ngIf="isEditMode" (click)="saveChanges()">Save</button>
                    <button *ngIf="isEditMode" (click)="cancelEdit()">Cancel</button>
                </div>
            </div>
        </div>
    </div>   
</div>
<app-footer></app-footer>