<app-navbar></app-navbar>

<div class="project-details">
  <div class="project-header">
    <img src="http://localhost:8080/api/files/load/{{project?.image}}" alt="Image du Projet" class="project-image">
    <div class="project-info">
      <h1>{{ project?.nom }}</h1>
      <p class="publisher">{{ project?.user?.name }}</p>
      <div class="progress-container">
        <div class="progress-bar">
          <div class="progress" [style.width]="(project?.montantCollecte / project?.objectifCollecte) * 100 + '%'"></div>
        </div>
        <span class="progress-text">{{ (project?.montantCollecte / project?.objectifCollecte) * 100 | number:'1.0-2' }}% financé</span>
      </div>
      <div class="donation-details">
        <span class="objectif">Objectif: {{ project?.objectifCollecte | currency:'TND' }}</span>
        <span class="collecte">Collecté: {{ project?.montantCollecte | currency:'TND' }}</span>
      </div>
      <button class="donate-btn" (click)="donate()">Faire un Don</button>
    </div>    
  </div>  

   <app-payment *ngIf="showPayment"></app-payment>
  <div class="project-section">
    <div class="section">
      <h2>Description du Projet</h2>
      <p>{{ project?.description }}</p>
    </div>

    <div class="section">
      <h2>Éditeur</h2>
      <div class="publisher-info">
        <img [src]="project?.publisherAvatar" alt="Avatar de l'Éditeur" class="publisher-avatar">
        <div class="info">
          <h3>{{ project?.user?.name }}</h3>
          <p>{{ project?.user?.email }}</p>
          <p>{{ project?.publisherDetails }}</p>
        </div>
      </div>
    </div>

    <div class="section">
      <h2>Projets Connexes</h2>
      <div class="related-projects">
        <div class="related-project" *ngFor="let relatedProject of relatedProjects" (click)="goToProject(relatedProject)">
          <img src="http://localhost:8080/api/files/load/{{relatedProject?.image}}" alt="Image du Projet Connexe" class="related-project-image">
          <div class="related-info">
            <h3>{{ relatedProject?.nom }}</h3>
            <p>{{ relatedProject?.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="comments-section">
    <div class="section">
      <h2>Commentaires</h2>
      <div class="comment" *ngFor="let comment of comments">
        <h4>{{ comment.user.name }}</h4>
        <p>{{ comment.contenu }}</p>
        <small>{{ comment.commentDate }}</small>
      </div>
      <div class="add-comment">
        <h3>Ajouter un Commentaire</h3>
        <textarea [(ngModel)]="newComment.text" placeholder="Votre commentaire..."></textarea>
        <button (click)="addComment()">Ajouter</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
